.active-btn {
    width: 100%;
    height: 48px;
    min-height: 48px;
    background-color: #FF6129;
    border: 0px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.15px;
}

.readonly-btn {
    width: 100%;
    height: 48px;
    min-height: 48px;
    background-color: #E5E8EB;
    border: 0px;
    border-radius: 10px;
    color: #8B95A1;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.15px;
    opacity: 0.5;
}